@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
	--primary: #050335;
	--secondary: #3C84AB;
	--third: #85CDFD;
	--fourth: #f0f3f3;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Tilt Neon', cursive;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    height: 7vh;
}

header{
    height: 100vh;
    background-image: url(https://a-static.besthdwallpaper.com/technology-binary-number-programming-wallpaper-5120x2880-69478_55.jpg);
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--fourth);
}

h3{
    font-size: 1rem;
    color: var(--fourth);
}

h1::first-letter{
    font-size: 5rem;
}

footer{
    height: 10vh;
    margin-top: auto;
    background-color: var(--third);
    justify-content: center;
    align-items: center;
    
}



/* header,
nav,
main,
footer{
    padding: 0% 7%;
} */

.d-flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.d-grid{
    display: grid;
}

.grid-list-container{
    grid-template-columns: auto;
}
.card-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    /* padding: 6.25rem; */
}

.card{
    height: 15rem;
    width: 10rem;
    border: .312rem solid var(--third);
    border-radius: 1.25rem;
    margin: .625rem;
    background-color: var(--third);
    transition: all 0.5s;
}

.card:hover{
    border: 5px solid var(--primary);

}

.card-image{
    height: 15rem;
    width: 10rem;
    border-radius: 1.25rem;
}

.logo{
    color: var(--fourth);
    padding: 1rem;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: var(--primary);
}

.nav-btn{
    flex-direction: row;
}

.btn-navbar{
    margin: .625rem;
    text-decoration: none;
    color: white;
    border: 2px solid var(--primary);
    border-radius: .5rem;
    padding: .5rem;
    transition: all 1s;
}

.btn-navbar:hover{
    background-color: var(--secondary);
    border: 2px solid var(--fourth);
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-navbar:active{
    background-color: var(--fourth);
    border: 2px solid var(--secondary);
}

.navbar-mobile{
    display: block;
    flex-direction: column;
    padding: 1rem;
}

.color-form{
    color: var(--fourth);
    background-color: var(--secondary);
}



.footer{
    padding: 0.5rem;
    font-size: 2rem;
}


@media (min-width: 576px) {
    .grid-list-container{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 768px) {
    .grid-list-container{
        grid-template-columns: auto auto auto;
    }
    .navbar-desktop{
        display: block;
    }
    .footer{
        padding: 1rem;
        font-size: 2rem;
    }

}

@media (min-width: 1200px) {
    .grid-list-container{
        grid-template-columns: auto auto auto auto;
    }
    /* .footer{
        padding: 2rem;
        font-size: 3rem;
    } */

}









